/* The label for Event Time */
.event_time_label{
	float: left;
	clear: both;
}
/* The label for Event Date */
.event_date_label{
	float: left;
	clear: both;
}
/* Wraping Div for the Location */
.location_div{
	clear: both;
	padding-top: 10px;
}
/* Wraping Div for the Time */
.time_div{
	clear: both;
	padding-top: 10px;
}

/* Month, Date & Year selectors */
#EventDateMonth{
	width: 100px;
	float: left;
	clear: left;
}
#EventDateDay{
	width: 100px;
	float: left;
}
#EventDateYear{
	width: 100px;
	float: left;
}

/* Hour, Min & Am/Pm selectors */
#EventTimeHour{
	width: 70px;
	float: left;
	clear: both;
}
#EventTimeMin{
	width: 70px;
	float: left;
}
#EventTimeMeridian{
	width: 70px;
	float: left;
}
