.contents{
	margin-top: 20px;
	margin-bottom: 60px;
}
.feedback {
    margin:4px;
    float:left;
}

.feedback label {
    float:left;
    width:250px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
       
}

.feedback label span {
    text-align:center;
    font-size: 16px;
    padding:13px 0px;
    display:block;
}

.feedback label input {
    position:absolute;
    background-color:#F7F7F9;
    color:#333;
    top:-2000px;
}

.feedback input:checked + span {
    background-color:green;
    color:#F7F7F7;
}
